.jobRow {
    width: 100%;
}

.jobRow > div > div {
    display: inline-block;
}

.jobStatus {
    overflow: hidden;
    text-align: center;
}

.visible {
    height: 100px;
    visibility: visible;
}

.hidden {
    height: 0px;
    visibility: collapse;
}